<h1>Trials</h1>

<ul>
  <% @trials.each do |trial| %>
    <li>
      <%= trial.title %>
      <%= link_to 'Show', trial %>
    </li>
  <% end %>
</ul>

<%= link_to "Ajouter une affaire", new_trial_path %>
